<!doctype html>
<html lang="en" data-bs-theme-base="stone" data-bs-theme-primary="lime" data-bs-theme-radius="2">

<%- include('partials/head') %>

   <body>
      <!-- BEGIN GLOBAL THEME SCRIPT -->
      <!-- END GLOBAL THEME SCRIPT -->
      <div class="page">
         <!--  BEGIN SIDEBAR  -->
         <%- include('partials/sidebar') %>
            <!--  END SIDEBAR  -->

            <div class="page-wrapper">
               <!-- BEGIN PAGE HEADER -->
               <div class="page-header d-print-none" aria-label="Page header">
                  <div class="container-xl">
                     <div class="row g-2 align-items-center">
                        <div class="col">
                           <!-- Page pre-title -->
                           <h2 class="page-title">
                              <%= title %>
                           </h2>
                        </div>
                        <!-- Page title actions -->
                     </div>
                  </div>
               </div>
               <!-- END PAGE HEADER -->
               <!-- BEGIN PAGE BODY -->
               <div class="page-body">
                  <div class="container-xl">
                     <%- body %>
                  </div>
               </div>
               <!-- END PAGE BODY -->
               <!--  BEGIN FOOTER  -->
               <%- include('partials/footer') %>
                  <!--  END FOOTER  -->
            </div>
      </div>

      <%- include('partials/scripts') %>

         <%- script || "" %>
   </body>

</html>