<!doctype html>
<html lang="en" data-bs-theme-base="stone" data-bs-theme-primary="lime" data-bs-theme-radius="2">

<%- include('partials/head') %>

   <body>
      <!-- BEGIN GLOBAL THEME SCRIPT -->
      <!-- END GLOBAL THEME SCRIPT -->
      <div class="page">
         <!--  BEGIN SIDEBAR  -->
         <%- include('partials/sidebar') %>
            <!--  END SIDEBAR  -->

            <div class="page-wrapper">
               <!-- BEGIN PAGE HEADER -->
               <div class="page-header d-print-none" aria-label="Page header">
                  <div class="container-xl">
                     <div class="row g-2 align-items-center">
                        <div class="col">
                           <!-- Page pre-title -->
                           <h2 class="page-title">
                              <%= title %>
                           </h2>
                        </div>
                        <!-- Page title actions -->
                     </div>
                  </div>
               </div>
               <!-- END PAGE HEADER -->
               <!-- BEGIN PAGE BODY -->
               <div class="page-body">
                  <div class="container-xl">
                     <%- body %>
                  </div>
               </div>
               <!-- END PAGE BODY -->
               <!--  BEGIN FOOTER  -->
               <%- include('partials/footer') %>
                  <!--  END FOOTER  -->
            </div>
      </div>
      <!-- BEGIN PAGE MODALS -->
      <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">New report</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <div class="mb-3">
                     <label class="form-label">Name</label>
                     <input type="text" class="form-control" name="example-text-input" placeholder="Your report name" />
                  </div>
                  <label class="form-label">Report type</label>
                  <div class="form-selectgroup-boxes row mb-3">
                     <div class="col-lg-6">
                        <label class="form-selectgroup-item">
                           <input type="radio" name="report-type" value="1" class="form-selectgroup-input" checked />
                           <span class="form-selectgroup-label d-flex align-items-center p-3">
                              <span class="me-3">
                                 <span class="form-selectgroup-check"></span>
                              </span>
                              <span class="form-selectgroup-label-content">
                                 <span class="form-selectgroup-title strong mb-1">Simple</span>
                                 <span class="d-block text-secondary">Provide only basic data needed for the
                                    report</span>
                              </span>
                           </span>
                        </label>
                     </div>
                     <div class="col-lg-6">
                        <label class="form-selectgroup-item">
                           <input type="radio" name="report-type" value="1" class="form-selectgroup-input" />
                           <span class="form-selectgroup-label d-flex align-items-center p-3">
                              <span class="me-3">
                                 <span class="form-selectgroup-check"></span>
                              </span>
                              <span class="form-selectgroup-label-content">
                                 <span class="form-selectgroup-title strong mb-1">Advanced</span>
                                 <span class="d-block text-secondary">Insert charts and additional advanced analyses to
                                    be
                                    inserted in the report</span>
                              </span>
                           </span>
                        </label>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-8">
                        <div class="mb-3">
                           <label class="form-label">Report url</label>
                           <div class="input-group input-group-flat">
                              <span class="input-group-text"> https://tabler.io/reports/ </span>
                              <input type="text" class="form-control ps-0" value="report-01" autocomplete="off" />
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="mb-3">
                           <label class="form-label">Visibility</label>
                           <select class="form-select">
                              <option value="1" selected>Private</option>
                              <option value="2">Public</option>
                              <option value="3">Hidden</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="mb-3">
                           <label class="form-label">Client name</label>
                           <input type="text" class="form-control" />
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="mb-3">
                           <label class="form-label">Reporting period</label>
                           <input type="date" class="form-control" />
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div>
                           <label class="form-label">Additional information</label>
                           <textarea class="form-control" rows="3"></textarea>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <a href="#" class="btn btn-link link-secondary btn-3" data-bs-dismiss="modal"> Cancel </a>
                  <a href="#" class="btn btn-primary btn-5 ms-auto" data-bs-dismiss="modal">
                     <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-2">
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                     </svg>
                     Create new report
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- END PAGE MODALS -->
      <div class="settings">
         <a href="#" class="btn btn-floating btn-icon btn-primary" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSettings" aria-controls="offcanvasSettings" aria-label="Theme Settings">
            <!-- Download SVG icon from http://tabler.io/icons/icon/brush -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-1">
               <path d="M3 21v-4a4 4 0 1 1 4 4h-4" />
               <path d="M21 3a16 16 0 0 0 -12.8 10.2" />
               <path d="M21 3a16 16 0 0 1 -10.2 12.8" />
               <path d="M10.6 9a9 9 0 0 1 4.4 4.4" />
            </svg>
         </a>
         <form class="offcanvas offcanvas-start offcanvas-narrow" tabindex="-1" id="offcanvasSettings">
            <div class="offcanvas-header">
               <h2 class="offcanvas-title">Theme Settings</h2>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column">
               <div>
                  <div class="mb-4">
                     <label class="form-label">Color mode</label>
                     <p class="form-hint">Choose the color mode for your app.</p>
                     <label class="form-check">
                        <div class="form-selectgroup-item">
                           <input type="radio" name="theme" value="light" class="form-check-input" checked />
                           <div class="form-check-label">Light</div>
                        </div>
                     </label>
                     <label class="form-check">
                        <div class="form-selectgroup-item">
                           <input type="radio" name="theme" value="dark" class="form-check-input" />
                           <div class="form-check-label">Dark</div>
                        </div>
                     </label>
                  </div>
                  <div class="mb-4">
                     <label class="form-label">Color scheme</label>
                     <p class="form-hint">The perfect color mode for your app.</p>
                     <div class="row g-2">
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="blue" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-blue"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="azure" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-azure"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="indigo" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-indigo"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="purple" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-purple"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="pink" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-pink"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="red" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-red"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="orange" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-orange"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="yellow" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-yellow"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="lime" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-lime"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="green" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-green"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="teal" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-teal"></span>
                           </label>
                        </div>
                        <div class="col-auto">
                           <label class="form-colorinput">
                              <input name="theme-primary" type="radio" value="cyan" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-cyan"></span>
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="mb-4">
                     <label class="form-label">Font family</label>
                     <p class="form-hint">Choose the font family that fits your app.</p>
                     <div>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-font" value="sans-serif" class="form-check-input"
                                 checked />
                              <div class="form-check-label">Sans-serif</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-font" value="serif" class="form-check-input" />
                              <div class="form-check-label">Serif</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-font" value="monospace" class="form-check-input" />
                              <div class="form-check-label">Monospace</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-font" value="comic" class="form-check-input" />
                              <div class="form-check-label">Comic</div>
                           </div>
                        </label>
                     </div>
                  </div>
                  <div class="mb-4">
                     <label class="form-label">Theme base</label>
                     <p class="form-hint">Choose the gray shade for your app.</p>
                     <div>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-base" value="slate" class="form-check-input" />
                              <div class="form-check-label">Slate</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-base" value="gray" class="form-check-input" checked />
                              <div class="form-check-label">Gray</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-base" value="zinc" class="form-check-input" />
                              <div class="form-check-label">Zinc</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-base" value="neutral" class="form-check-input" />
                              <div class="form-check-label">Neutral</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-base" value="stone" class="form-check-input" />
                              <div class="form-check-label">Stone</div>
                           </div>
                        </label>
                     </div>
                  </div>
                  <div class="mb-4">
                     <label class="form-label">Corner Radius</label>
                     <p class="form-hint">Choose the border radius factor for your app.</p>
                     <div>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-radius" value="0" class="form-check-input" />
                              <div class="form-check-label">0</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-radius" value="0.5" class="form-check-input" />
                              <div class="form-check-label">0.5</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-radius" value="1" class="form-check-input" checked />
                              <div class="form-check-label">1</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-radius" value="1.5" class="form-check-input" />
                              <div class="form-check-label">1.5</div>
                           </div>
                        </label>
                        <label class="form-check">
                           <div class="form-selectgroup-item">
                              <input type="radio" name="theme-radius" value="2" class="form-check-input" />
                              <div class="form-check-label">2</div>
                           </div>
                        </label>
                     </div>
                  </div>
               </div>
               <div class="mt-auto space-y">
                  <button type="button" class="btn w-100" id="reset-changes">
                     <!-- Download SVG icon from http://tabler.io/icons/icon/rotate -->
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-1">
                        <path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5" />
                     </svg>
                     Reset changes
                  </button>
                  <a href="#" class="btn btn-primary w-100" data-bs-dismiss="offcanvas"> Save </a>
               </div>
            </div>
         </form>
      </div>

      <%- include('partials/scripts') %>

         <%- script || "" %>
   </body>

</html>