<div class="card shadow">
   <div class="card-header">
      <h3 class="card-title">
         Log Terbaru
      </h3>
   </div>
   <div class="card-body">
      <div class="table-responsive">
         <table class="table">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Pesan</th>
                  <th>Context</th>
                  <th>Status</th>
                  <th>Waktu</th>
               </tr>
            </thead>
            <tbody>
               <% logs.forEach((log, index)=> { %>
                  <tr>
                     <td>
                        <%= index + 1 %>
                     </td>
                     <td>
                        <%= log.message %>
                     </td>
                     <td>
                        <%= log.context %>
                     </td>
                     <td>
                        <% if (log.level==='info' ) { %>
                           <span class="badge bg-success me-1"></span>
                           <% } else if (log.level==='warn' ) { %>
                              <span class="badge bg-warning me-1"></span>
                              <% } else { %>
                                 <span class="badge bg-danger me-1"></span>
                                 <% } %>

                                    <%= log.level %>
                     </td>
                     <td>
                        <%= new Date(log.timestamp).toLocaleString("id-ID") %>
                     </td>
                  </tr>
                  <% }) %>
            </tbody>
         </table>
      </div>
   </div>
</div>